*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: flex-end;
}

.cabezera{
    margin-top: 100px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col_1{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo{
    margin-top: 30px;
    font-size: 200%;
    font-family: cursive;
}

.texto{
    color: rgb(105, 105, 107);
    margin: 20px auto;
    font-size: 20px;
    min-width: 300px;
}

.btn{
    padding: 4%;
    background: #6158BF;
    border: none;
    height: 60px;
    font-size: medium;
    color: white;
    flex-basis: 30px;
}

.btn:hover{
    cursor: pointer;
    background: rgb(79, 10, 119);
}

.foto{
    width: 80%;
}

@media screen and (max-width: 1462px) {
    .titulo{
        font-size: 100%;
    }

    .foto{
        width: 75%;
    }
}

@media screen and (max-width: 1094px) {
    .titulo{
        width: 300px;
        font-size: 60%;
    }

    .foto{
        width: 70%;
    }

    .cabezera{
        margin-top: 100px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .col_1{
        order: -1;
    }

    .col_2{
        order: -2;
    }
}